<div *ngIf="gameCard">
  <div class="ui-g ui-g-nopad">
    <div class="ui-g-offset-1 ui-g-10 game-header">{{gameCard.title}}</div>
  </div>
  <div class="ui-g ui-g-nopad">
    <div class="ui-g-offset-1 ui-g-2 game-header">B</div>
    <div class="ui-g-2 game-header">I</div>
    <div class="ui-g-2 game-header">N</div>
    <div class="ui-g-2 game-header">G</div>
    <div class="ui-g-2 game-header">O</div>
  </div>
  <div class="ui-g ui-g-nopad" *ngFor="let x of rows">
    <div class="ui-g-1"></div>
    <div class="ui-g-2"
         *ngFor="let y of columns"
         [innerHTML]="(gameCard.tiles | tilePosition: x:y).content"
         (click)="clickTile(x,y)"
         [ngClass]="{
          'game-tile-uncovered' : !(gameCard.tiles | tilePosition: x:y).covered,
          'game-tile-covered' : (gameCard.tiles | tilePosition: x:y).covered,
          'game-tile-bingo' : (gameCard.tiles | tilePosition: x:y).bingo
         }"></div>
    <div class="ui-g-1"></div>
  </div>

  <p-dialog header="BINGO!" [(visible)]="displayWinDialog" [modal]="true">
    <p>Play again?</p>
    <p-footer>
      <button type="button" pButton (click)="playAgain()" label="Yes"></button>
      <button type="button" pButton (click)="displayWinDialog=false" label="No"></button>
    </p-footer>
  </p-dialog>
</div>

